@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "tailwindcss";

@layer base {
    html {
        font-family: "Jersey 10", sans-serif;
    }
}

:root {
    --background-calculator: #E0F7FA;

    --screen-bg: #FFFFFF;

    --numb-button: #B2EBF2;
    --numb-button-hover: #80DEEA;

    --operation-button: #4DD0E1;
    --operation-button-hover: #26C6DA;

    --delete-button:#00ACC1;
    --delete-button-hover: #008B99;

    --equal-button: #0097A7;
    --equal-button-hover: #007C91;

    --format-button: #006064;
    --format-button-hover: #004D40;

    --background-color: #f5f5f5;
}

.background {
    background-color: var(--background-color);
}

#calc-screen {
    background-color: var(--screen-bg);
}

button {
    transition: all 0.3s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#calc-body {
    background-color: var(--background-calculator);
}

.arithmetic {
    background-color: var(--operation-button);
}

.arithmetic:hover {
    background-color: var(--operation-button-hover);
}

.interaction {
    background-color: var(--delete-button);
}

.interaction:hover {
    background-color: var(--delete-button-hover);
}

.number {
    background-color: var(--numb-button);
}

.number:hover {
    background-color: var(--numb-button-hover);
}

.equals {
    background-color: var(--equal-button);
}

.equals:hover {
    background-color: var(--equal-button-hover);
}

.format {
    background-color: var(--format-button);
    color: white;
}

.format:hover {
    background-color: var(--format-button-hover);
}